html {
    margin: 0;
}

body {
    margin: 0;
    background: rgba(0, 0, 0, 0.02);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
    --box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.1);
}

h1 {
    background: white;
    text-align: center;
    font-size: max(4vw, 25px);
    margin: 0.8rem;
    padding: 1rem;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
}

#heading {
    cursor: pointer;
}

#add-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#add-icon {
    width: 2.5rem;
    height: 2.5rem;
}

#add-btn {
    box-shadow: var(--box-shadow);
    cursor: pointer;
    border: 0;
    background: turquoise;
    border-radius: 100px;
}

#add-btn:hover {
    background: rgba(0, 0, 0, 0.128);
    transform: translateY(-2px);
}

#form-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#form-container > form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 0.5rem;
}

#form-label {
    color: turquoise;
    grid-column: 1/3;
    font-size: 1.75rem;
    text-align: center;
}

#form-container > form > label {
    margin: 0.3rem;
    font-size: 1.5rem;
    text-align: center;
    color: turquoise;
}

#form-container > form > input[type="text"], input[type="number"] {
    box-shadow: var(--box-shadow);
    font-size: 1.5rem;
    border-radius: 100px;
    border: turquoise 2px solid;
    opacity: 100%;
}

#add-book {
    box-shadow: var(--box-shadow);
    grid-column: 1/3;
    width: max-content;
    justify-self: center;
    border: 0;
    font-size: 1.3rem;
    background: turquoise;
    color: white;
    border-radius: 100px;
    margin: 1rem;
    padding: 0.3rem;
    cursor: pointer;
}

#add-book:hover {
    transform: translateY(-2px);
    opacity: 85%;
}

#container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 0.4rem;
}

#book {
    border-radius: 10px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
    box-shadow: var(--box-shadow);
    margin: 0.8rem;
    padding: 0.4rem;
}

#title {
    font-size: max(2vw, 20px);
    font-weight: bold;
    margin: 0.4rem;
}

#author {
    font-size: max(1.2vw, 14px);
    margin: 0.4rem;
}

#pages {
    font-size: max(1vw, 12px);
    margin: 0.4rem;
}

#read-button, #delete {
    color: white;
    border: 0;
    margin: 0.4rem;
    padding: 0.4rem;
    width: 50%;
    min-width: 50px;
}

#read-button:hover, #delete:hover {
    opacity: 75%;
}

#read-button:after, #delete:after {
    transform: translateY(-2px);
}

#read-button {
    border-radius: 100px;
}

.read {
    background: green;
}

.unread {
    background: orange;
}

#delete {
    background: rgba(255, 0, 0, 0.900);
    border-radius: 100px;
}

#num-books {
    cursor: pointer;
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: max(5vw, 25px);
    font-family: 'Montserrat', sans-serif;
    border: 1px black solid;
    border-radius: 10px;
}

#num-books:hover {
    animation: rotate 1s ease-in-out;
}

footer {
    display: flex;
    margin-top: 50vh;
    justify-content: center;
    align-items: center;
}

footer > a:link, footer > a:visited {
    text-decoration: none;
    color: black;
}

footer > a > div {
    background: white;
    opacity: 95%;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: var(--box-shadow);
}

footer> a >div:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.113); 
    animation: rotate 1s ease-in-out;
}

@keyframes rotate {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(359deg);
    }
}

@media screen and (max-width: 620px) {
    #form-container > form > label {
        font-size: 14px;
    }
    #form-container > form > input[type="text"], input[type="number"] {
        font-size: 14px;
    }
}
    
@media screen and (max-width: 150px) {
    body {
        display: none;
    }
}